<!DOCTYPE html>
<html>
    <head>
      <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script type="text/javascript" src="{{ url_for('static', filename = 'knockout-3.4.2.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename = 'appViewModel.js') }}"></script>
    </head>
    <body>
      <div>
        <select data-bind="options: schools,
                          optionsText: function(item) {
                            return item.school + ' ' + item.mascot
                          },
                          value: selectedSchool,
                          optionsCaption: 'Choose a team...'"></select>
      </div>
      <div>
        <!-- ko with: selectedSchool -->
        <p>
          School: <span data-bind="text: school"></span>
        </p>
        <p>
          Conference: <span data-bind="text: conference"></span>
        </p>
        <img data-bind="attr: { src: logos[0], alt: school}">
        <!-- /ko -->
      </div>
    </body>
</html>
